<VirtualHost *:80>
  DocumentRoot /var/www/nextcloud
  ServerName nextcloud.{{ server_address }}
  ServerAlias *.nextcloud.{{ server_address }} nextcloud

  <Directory /var/www/nextcloud/>
    Require all granted
    AllowOverride All
    Options FollowSymLinks MultiViews

    <IfModule mod_dav.c>
      Dav off
    </IfModule>
  </Directory>
</VirtualHost>
